* {
  box-sizing: border-box;
  font-family: Roboto;
}

a {
  text-decoration: none;
  color: #fff;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 360px) {
  .container {
    max-width: 360px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.top {
  background: url(../images/top.png) center no-repeat;
  background-size: cover;
  min-height: 500px;
  padding-top: 1px;
}
@media (min-width: 576px) {
  .top {
    min-height: 670px;
  }
}
@media (min-width: 768px) {
  .top {
    min-height: 800px;
  }
}
@media (min-width: 992px) {
  .top {
    min-height: 1000px;
  }
}
.top__heading {
  color: white;
  text-transform: uppercase;
  font-size: 26px;
  text-align: center;
  margin: 253px 0px 65px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
@media (min-width: 576px) {
  .top__heading {
    font-size: 35px;
    margin: 400px 36px 65px;
  }
}
@media (min-width: 768px) {
  .top__heading {
    font-size: 40px;
    margin: 480px 92px 65px;
  }
}
@media (min-width: 992px) {
  .top__heading {
    font-size: 53px;
    margin: 500px 134px 65px;
  }
}
@media (min-width: 1200px) {
  .top__heading {
    font-size: 60px;
    margin: 500px 195px 65px;
  }
}
.top__btnWrapper {
  text-align: center;
}
.top__btn {
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  border: 2px solid #fff;
  padding: 15px 20px;
  transition: 0.5s;
  display: inline-block;
}
.top__btn:hover {
  background: rgba(0, 0, 0, 0.5);
}
@media (min-width: 576px) {
  .top__btn {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .top__btn {
    font-size: 17px;
  }
}
@media (min-width: 992px) {
  .top__btn {
    font-size: 18px;
    padding: 20px 35px;
  }
}
.top__block {
  position: relative;
  height: 85px;
}
@media (min-width: 576px) {
  .top__block {
    height: 100px;
  }
}
@media (min-width: 768px) {
  .top__block {
    height: 130px;
  }
}
@media (min-width: 992px) {
  .top__block {
    height: 250px;
  }
}
.top .circle {
  width: 7px;
  height: 7px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 2px solid #fff;
}
@media (min-width: 768px) {
  .top .circle {
    width: 9px;
    height: 9px;
  }
}
@media (min-width: 992px) {
  .top .circle {
    width: 11px;
    height: 11px;
    border-width: 3px;
  }
}
.top .circle:first-child {
  bottom: 20px;
  background: #fff;
}
@media (min-width: 768px) {
  .top .circle:first-child {
    bottom: 30px;
  }
}
@media (min-width: 992px) {
  .top .circle:first-child {
    bottom: 40px;
  }
}
.top .circle:last-child {
  bottom: 10px;
}
@media (min-width: 768px) {
  .top .circle:last-child {
    bottom: 15px;
  }
}
@media (min-width: 992px) {
  .top .circle:last-child {
    bottom: 20px;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  background: #252e30;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  padding: 15px 0;
  letter-spacing: 1px;
  text-align: center;
}
.header__icon {
  font-size: 21px;
  display: inline-block;
}
@media (min-width: 576px) {
  .header__icon {
    font-size: 25px;
  }
}
@media (min-width: 768px) {
  .header__icon {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  .header__icon {
    font-size: 30px;
    margin-right: 47px;
  }
}
@media (min-width: 1200px) {
  .header__icon {
    margin-right: 167px;
  }
}
.header__icon-square {
  padding: 4px 13px;
  background: #4b5456;
  margin-right: 5px;
  display: inline-block;
}
@media (min-width: 576px) {
  .header__icon-square {
    margin-right: 8px;
  }
}
@media (min-width: 992px) {
  .header__icon-square {
    margin-right: 10px;
  }
}
.header__icon div {
  display: inline-block;
}
.header span {
  color: #2ecc71;
}
.header__navigation {
  overflow: hidden;
  padding-bottom: 2px;
  font-size: 15px;
  line-height: 1.35;
  padding-top: 10px;
  display: inline-block;
}
@media (min-width: 576px) {
  .header__navigation {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .header__navigation {
    line-height: 1.15;
    padding-top: 0;
  }
}
.header__navigation-link {
  margin-left: 20px;
  transition: 0.5s;
}
@media (min-width: 576px) {
  .header__navigation-link {
    margin-left: 38px;
  }
}
@media (min-width: 768px) {
  .header__navigation-link {
    margin-left: 20px;
  }
}
@media (min-width: 992px) {
  .header__navigation-link {
    margin-left: 25px;
  }
}
@media (min-width: 1200px) {
  .header__navigation-link {
    margin-left: 40px;
  }
}
.header__navigation-link:hover {
  color: #2ecc71;
}
.header .active {
  color: #2ecc71;
}

.areas {
  padding: 30px 0;
  text-align: center;
}
@media (min-width: 768px) {
  .areas {
    padding: 50px 0;
  }
}
@media (min-width: 992px) {
  .areas {
    padding: 75px 0;
  }
}
@media (min-width: 1200px) {
  .areas {
    text-align: left;
    padding: 100px 0;
  }
}
.areas__content {
  display: inline-block;
}
@media (min-width: 768px) {
  .areas__content {
    width: 326px;
  }
}
@media (min-width: 992px) {
  .areas__content {
    width: 463px;
  }
}
@media (min-width: 1200px) {
  .areas__content {
    width: 355px;
  }
}
.areas__content-title {
  color: #566366;
  text-transform: uppercase;
  font-size: 22px;
}
@media (min-width: 768px) {
  .areas__content-title {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .areas__content-title {
    font-size: 28px;
  }
}
@media (min-width: 1200px) {
  .areas__content-title {
    font-size: 30px;
  }
}
.areas__content-description {
  color: #919191;
  font-size: 16px;
  line-height: 25px;
}
@media (min-width: 768px) {
  .areas__content-description {
    font-size: 17px;
  }
}
@media (min-width: 992px) {
  .areas__content-description {
    font-size: 18px;
    line-height: 27px;
  }
}
@media (min-width: 1200px) {
  .areas__content-description {
    line-height: 30px;
  }
}
@media (min-width: 1200px) {
  .areas__content:nth-child(2) {
    margin: 0 33px;
  }
}

.about {
  background: #f2f2f1;
}
.about__img {
  width: 50%;
  float: left;
  margin-right: 25px;
}
@media (min-width: 576px) {
  .about__img {
    width: 51%;
  }
}
@media (min-width: 768px) {
  .about__img {
    margin-right: 50px;
  }
}
@media (min-width: 1200px) {
  .about__img {
    width: 37%;
    margin-right: 100px;
  }
}
.about__content {
  padding-top: 1px;
}
@media (min-width: 576px) {
  .about__content {
    padding: 15px 0;
  }
}
@media (min-width: 768px) {
  .about__content {
    padding-top: 55px;
  }
}
@media (min-width: 992px) {
  .about__content {
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .about__content {
    padding-top: 1px;
    padding-bottom: 0;
  }
}
.about__content-top {
  text-align: left;
}
@media (min-width: 833px) {
  .about__content-top {
    margin-bottom: 202px;
  }
}
@media (min-width: 1200px) {
  .about__content-top {
    margin-bottom: 0;
  }
}
.about__content-top .title {
  text-transform: uppercase;
  font-size: 22px;
  color: #566366;
}
@media (min-width: 768px) {
  .about__content-top .title {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .about__content-top .title {
    font-size: 28px;
  }
}
@media (min-width: 1200px) {
  .about__content-top .title {
    font-size: 30px;
  }
}
.about__content-top .description {
  font-size: 16px;
  line-height: 25px;
  color: #919191;
}
@media (min-width: 576px) {
  .about__content-top .description {
    line-height: 24px;
  }
}
@media (min-width: 768px) {
  .about__content-top .description {
    font-size: 17px;
    line-height: 25px;
  }
}
@media (min-width: 992px) {
  .about__content-top .description {
    font-size: 18px;
    line-height: 30px;
    margin: 100px 0;
  }
}
@media (min-width: 1200px) {
  .about__content-top .description {
    font-size: 18px;
    line-height: 30px;
    margin: 10px 0;
  }
}
.about__content-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 576px) {
  .about__content-bottom {
    margin-top: 10px;
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .about__content-bottom {
    margin-top: 100px;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .about__content-bottom {
    margin-top: 0;
  }
}
.about__content-bottomWrapper {
  text-align: left;
  line-height: 25px;
  width: 47%;
  margin-top: 5px;
}
@media (min-width: 576px) {
  .about__content-bottomWrapper {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .about__content-bottomWrapper {
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .about__content-bottomWrapper {
    margin-top: 5px;
  }
}
.about__content-bottomWrapper .icon {
  float: left;
  padding: 25px 25px 10px 0;
}
@media (min-width: 576px) {
  .about__content-bottomWrapper .icon {
    padding: 25px 25px 60px 0;
  }
}
@media (min-width: 1200px) {
  .about__content-bottomWrapper .icon {
    padding: 25px 25px 65px 0;
  }
}
.about__content-bottomWrapper .title {
  text-transform: uppercase;
  font-size: 16px;
  color: #566366;
}
@media (min-width: 768px) {
  .about__content-bottomWrapper .title {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .about__content-bottomWrapper .title {
    font-size: 22px;
  }
}
.about__content-bottomWrapper .description {
  font-size: 16px;
  color: #919191;
}
@media (min-width: 768px) {
  .about__content-bottomWrapper .description {
    font-size: 17px;
  }
}
@media (min-width: 992px) {
  .about__content-bottomWrapper .description {
    font-size: 18px;
  }
}