* {
  box-sizing: border-box;
  font-family: Roboto;
}

a {
  text-decoration: none;
  color: #fff;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 360px) {
  .container {
    max-width: 360px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.resume__content-btn, .skills__content-btn {
  font-size: 16px;
  font-weight: bold;
  color: #2ecc71;
  text-transform: uppercase;
  border: 2px solid #2ecc71;
  padding: 15px 35px;
  transition: 0.5s;
}

.portfolio__title, .education__content-leftTitle, .resume__content-title, .skills__content-title, .about__content-top .title, .areas__content-title {
  font-size: 22px;
  text-transform: uppercase;
  color: #566366;
}

.portfolio__description, .education__content-rightDescription, .education__content-leftDescription, .resume__content-description, .skills__content-description, .about__content-top .description, .areas__content-description {
  font-size: 16px;
  line-height: 23px;
  color: #919191;
}

.top {
  background: url(../images/top.png) center no-repeat;
  background-size: cover;
  min-height: 500px;
  padding-top: 1px;
}
@media (min-width: 576px) {
  .top {
    min-height: 670px;
  }
}
@media (min-width: 768px) {
  .top {
    min-height: 800px;
  }
}
@media (min-width: 992px) {
  .top {
    min-height: 1000px;
  }
}
.top__heading {
  color: white;
  text-transform: uppercase;
  font-size: 26px;
  text-align: center;
  margin: 253px 0px 65px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
@media (min-width: 576px) {
  .top__heading {
    font-size: 35px;
    margin: 400px 36px 65px;
  }
}
@media (min-width: 768px) {
  .top__heading {
    font-size: 40px;
    margin: 480px 92px 65px;
  }
}
@media (min-width: 992px) {
  .top__heading {
    font-size: 53px;
    margin: 500px 134px 65px;
  }
}
@media (min-width: 1200px) {
  .top__heading {
    font-size: 60px;
    margin: 500px 195px 65px;
  }
}
.top__btnWrapper {
  text-align: center;
}
.top__btn {
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  border: 2px solid #fff;
  padding: 15px 20px;
  transition: 0.5s;
  display: inline-block;
}
.top__btn:hover {
  background: rgba(0, 0, 0, 0.5);
}
@media (min-width: 576px) {
  .top__btn {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .top__btn {
    font-size: 17px;
  }
}
@media (min-width: 992px) {
  .top__btn {
    font-size: 18px;
    padding: 20px 35px;
  }
}
.top__block {
  position: relative;
  height: 85px;
}
@media (min-width: 576px) {
  .top__block {
    height: 90px;
  }
}
@media (min-width: 768px) {
  .top__block {
    height: 130px;
  }
}
@media (min-width: 992px) {
  .top__block {
    height: 250px;
  }
}
.top .circle {
  width: 7px;
  height: 7px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 2px solid #fff;
}
@media (min-width: 768px) {
  .top .circle {
    width: 9px;
    height: 9px;
  }
}
@media (min-width: 992px) {
  .top .circle {
    width: 11px;
    height: 11px;
    border-width: 3px;
  }
}
.top .circle:first-child {
  bottom: 20px;
  background: #fff;
}
@media (min-width: 768px) {
  .top .circle:first-child {
    bottom: 30px;
  }
}
@media (min-width: 992px) {
  .top .circle:first-child {
    bottom: 40px;
  }
}
.top .circle:last-child {
  bottom: 10px;
}
@media (min-width: 768px) {
  .top .circle:last-child {
    bottom: 15px;
  }
}
@media (min-width: 992px) {
  .top .circle:last-child {
    bottom: 20px;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  background: #252e30;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  text-align: left;
}
.headerWrapper {
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__icon {
  font-size: 21px;
  display: inline-block;
}
@media (min-width: 576px) {
  .header__icon {
    font-size: 25px;
  }
}
@media (min-width: 768px) {
  .header__icon {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  .header__icon {
    font-size: 30px;
  }
}
.header__icon-square {
  padding: 4px 13px;
  background: #4b5456;
  margin-right: 5px;
  display: inline-block;
}
@media (min-width: 576px) {
  .header__icon-square {
    margin-right: 8px;
  }
}
@media (min-width: 992px) {
  .header__icon-square {
    margin-right: 10px;
  }
}
.header__icon div {
  display: inline-block;
}
.header span {
  color: #2ecc71;
}
.header__navigation {
  display: none;
}
@media (min-width: 992px) {
  .header__navigation {
    display: inline-block;
    padding: 23px 0;
    font-size: 16px;
    line-height: 1.15;
  }
}
.header__navigation-item {
  margin-left: 25px;
  transition: 0.5s;
}
@media (min-width: 1200px) {
  .header__navigation-item {
    margin-left: 37px;
  }
}
.header__navigation-item:hover {
  color: #2ecc71;
}
.header__menu {
  position: relative;
  padding: 15px 0;
}
.header__menu:hover .header__menu-nav {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 992px) {
  .header__menu {
    display: none;
  }
}
.header__menu-burger {
  width: 50px;
  font-size: 20px;
  text-align: right;
  cursor: pointer;
}
@media (min-width: 576px) {
  .header__menu-burger {
    font-size: 25px;
  }
}
@media (min-width: 768px) {
  .header__menu-burger {
    font-size: 30px;
  }
}
.header__menu-nav {
  background: #252e30;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 59px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 576px) {
  .header__menu-nav {
    top: 62px;
  }
}
@media (min-width: 768px) {
  .header__menu-nav {
    top: 65px;
  }
}
.header__menu-item {
  padding: 0 20px 13px;
}
.header__menu-item:hover {
  color: #2ecc71;
}
.header .active {
  color: #2ecc71;
}

.areas {
  padding: 30px 0;
  text-align: center;
}
@media (min-width: 768px) {
  .areas {
    padding: 50px 0;
  }
}
@media (min-width: 992px) {
  .areas {
    padding: 75px 0;
  }
}
@media (min-width: 1200px) {
  .areas {
    text-align: left;
    padding: 100px 0;
  }
}
.areas__content {
  display: inline-block;
}
@media (min-width: 768px) {
  .areas__content {
    width: 326px;
  }
}
@media (min-width: 992px) {
  .areas__content {
    width: 463px;
  }
}
@media (min-width: 1200px) {
  .areas__content {
    width: 355px;
  }
}
@media (min-width: 768px) {
  .areas__content-title {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .areas__content-title {
    font-size: 28px;
  }
}
@media (min-width: 1200px) {
  .areas__content-title {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .areas__content-description {
    font-size: 17px;
  }
}
@media (min-width: 992px) {
  .areas__content-description {
    font-size: 18px;
    line-height: 27px;
  }
}
@media (min-width: 1200px) {
  .areas__content-description {
    line-height: 30px;
  }
}
@media (min-width: 1200px) {
  .areas__content:nth-child(2) {
    margin: 0 33px;
  }
}

.about {
  background: #f2f2f1;
}
.about__img {
  width: 50%;
  float: left;
  margin-right: 25px;
}
@media (min-width: 576px) {
  .about__img {
    width: 51%;
  }
}
@media (min-width: 768px) {
  .about__img {
    margin-right: 50px;
  }
}
@media (min-width: 1200px) {
  .about__img {
    width: 37%;
    margin-right: 100px;
  }
}
.about__content {
  padding-top: 1px;
}
@media (min-width: 576px) {
  .about__content {
    padding: 15px 0;
  }
}
@media (min-width: 768px) {
  .about__content {
    padding-top: 55px;
  }
}
@media (min-width: 992px) {
  .about__content {
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .about__content {
    padding-top: 1px;
    padding-bottom: 0;
  }
}
.about__content-top {
  text-align: left;
}
@media (min-width: 833px) {
  .about__content-top {
    margin-bottom: 202px;
  }
}
@media (min-width: 1200px) {
  .about__content-top {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .about__content-top .title {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .about__content-top .title {
    font-size: 28px;
  }
}
@media (min-width: 1200px) {
  .about__content-top .title {
    font-size: 30px;
  }
}
@media (min-width: 576px) {
  .about__content-top .description {
    line-height: 24px;
  }
}
@media (min-width: 768px) {
  .about__content-top .description {
    font-size: 17px;
    line-height: 25px;
  }
}
@media (min-width: 992px) {
  .about__content-top .description {
    font-size: 18px;
    line-height: 30px;
    margin: 100px 0;
  }
}
@media (min-width: 1200px) {
  .about__content-top .description {
    font-size: 18px;
    line-height: 30px;
    margin: 10px 0;
  }
}
.about__content-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 576px) {
  .about__content-bottom {
    margin-top: 10px;
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .about__content-bottom {
    margin-top: 100px;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .about__content-bottom {
    margin-top: 0;
  }
}
.about__content-bottomWrapper {
  text-align: left;
  line-height: 25px;
  width: 47%;
  margin-top: 5px;
}
@media (min-width: 576px) {
  .about__content-bottomWrapper {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .about__content-bottomWrapper {
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .about__content-bottomWrapper {
    margin-top: 5px;
  }
}
.about__content-bottomWrapper .icon {
  float: left;
  padding: 25px 25px 10px 0;
}
@media (min-width: 576px) {
  .about__content-bottomWrapper .icon {
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .about__content-bottomWrapper .icon {
    padding-bottom: 65px;
  }
}
.about__content-bottomWrapper .title {
  text-transform: uppercase;
  font-size: 16px;
  color: #566366;
}
@media (min-width: 768px) {
  .about__content-bottomWrapper .title {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .about__content-bottomWrapper .title {
    font-size: 22px;
  }
}
.about__content-bottomWrapper .description {
  font-size: 16px;
  color: #919191;
}
@media (min-width: 768px) {
  .about__content-bottomWrapper .description {
    font-size: 17px;
  }
}
@media (min-width: 992px) {
  .about__content-bottomWrapper .description {
    font-size: 18px;
  }
}

.skillsWrapper {
  display: flex;
  padding: 50px 0;
  flex-direction: column;
}
@media (min-width: 768px) {
  .skillsWrapper {
    padding: 75px 0;
  }
}
@media (min-width: 1200px) {
  .skillsWrapper {
    padding: 100px 0;
    flex-direction: row;
  }
}
.skills__content {
  text-align: justify;
}
@media (min-width: 1200px) {
  .skills__content {
    padding-right: 100px;
  }
}
.skills__content-title {
  margin: 0 0 20px;
}
@media (min-width: 576px) {
  .skills__content-title {
    font-size: 24px;
    margin-bottom: 35px;
  }
}
@media (min-width: 768px) {
  .skills__content-title {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  .skills__content-title {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .skills__content-title {
    margin-bottom: 60px;
  }
}
@media (min-width: 576px) {
  .skills__content-description {
    font-size: 17px;
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) {
  .skills__content-description {
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 25px;
  }
}
.skills__content-btnWrapper {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}
@media (min-width: 576px) {
  .skills__content-btnWrapper {
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .skills__content-btnWrapper {
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .skills__content-btnWrapper {
    margin-top: 80px;
    margin-bottom: 0;
    text-align: left;
  }
}
@media (min-width: 576px) {
  .skills__content-btn {
    font-size: 18px;
  }
}
.skills__content-btn:hover {
  background: #2ecc71;
  color: #fff;
}
.skills__progress-title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 25px;
}
@media (min-width: 576px) {
  .skills__progress-title {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .skills__progress-title {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .skills__progress-title {
    margin-top: 50px;
  }
}
.skills__progress-block {
  height: 30px;
  background: #f2f2f1;
}
@media (min-width: 768px) {
  .skills__progress-block {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .skills__progress-block {
    width: 560px;
  }
}
.skills__progress-blockFiled {
  height: 30px;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: right;
  color: #fff;
  background: #2ecc71;
  padding-right: 10px;
}
.skills__progress-blockFiled.first {
  width: 90%;
}
.skills__progress-blockFiled.second {
  width: 80%;
}
.skills__progress-blockFiled.third {
  width: 90%;
}
.skills__progress-blockFiled.fourth {
  width: 70%;
}

.resume {
  background: #f2f2f1;
  position: relative;
}
.resume__content {
  text-align: center;
  padding: 25px 0 50px;
}
@media (min-width: 768px) {
  .resume__content {
    padding: 50px 0 75px;
  }
}
@media (min-width: 1200px) {
  .resume__content {
    padding: 100px 0;
  }
}
.resume__content::after {
  content: "";
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 20px solid #f2f2f1;
  position: absolute;
  right: 48%;
  bottom: -20px;
}
@media (min-width: 576px) {
  .resume__content-title {
    font-size: 28px;
  }
}
@media (min-width: 768px) {
  .resume__content-title {
    font-size: 30px;
  }
}
.resume__content-description {
  margin: 40px 0;
}
@media (min-width: 576px) {
  .resume__content-description {
    font-size: 17px;
    margin: 55px 0;
  }
}
@media (min-width: 768px) {
  .resume__content-description {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (min-width: 1200px) {
  .resume__content-description {
    margin: 70px 0;
  }
}
@media (min-width: 768px) {
  .resume__content-btn {
    font-size: 17px;
  }
}
@media (min-width: 1200px) {
  .resume__content-btn {
    font-size: 18px;
  }
}
.resume__content-btn:hover {
  background: #2ecc71;
  color: #fff;
}

.education__content {
  display: flex;
  border-bottom: 2px solid #f2f2f1;
  padding: 40px 0;
  flex-direction: column;
}
@media (min-width: 768px) {
  .education__content {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
@media (min-width: 992px) {
  .education__content {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .education__content-left {
    padding-right: 25px;
  }
}
@media (min-width: 1200px) {
  .education__content-left {
    padding-right: 50px;
  }
}
@media (min-width: 576px) {
  .education__content-leftTitle {
    font-size: 26px;
  }
}
@media (min-width: 1200px) {
  .education__content-leftTitle {
    font-size: 30px;
  }
}
.education__content-leftDescription {
  margin-top: 25px;
}
@media (min-width: 768px) {
  .education__content-leftDescription {
    font-size: 17px;
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  .education__content-leftDescription {
    font-size: 18px;
    line-height: 25px;
    margin-top: 35px;
  }
}
.education__content-rightTitle {
  font-size: 20px;
  text-transform: uppercase;
  color: #566366;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .education__content-rightTitle {
    font-size: 21px;
    margin-top: 50px;
  }
}
@media (min-width: 992px) {
  .education__content-rightTitle {
    margin-top: 80px;
  }
}
@media (min-width: 1200px) {
  .education__content-rightTitle {
    font-size: 22px;
    margin-top: 95px;
  }
}
.education__content-rightDescription {
  margin-top: 15px;
}
@media (min-width: 768px) {
  .education__content-rightDescription {
    font-size: 17px;
  }
}
@media (min-width: 1200px) {
  .education__content-rightDescription {
    font-size: 18px;
    line-height: 25px;
    margin-top: 30px;
  }
}
.education__content-rightDescription.overline {
  border-top: 2px solid #f2f2f1;
  padding-top: 15px;
}
@media (min-width: 1200px) {
  .education__content-rightDescription.overline {
    padding-top: 30px;
  }
}
.education__content-rightIcon {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: #2ecc71;
  display: inline-block;
  padding: 5px 10px;
}
@media (min-width: 1200px) {
  .education__content-rightIcon {
    font-size: 18px;
  }
}
.education__content-rightIcon.uppercase {
  text-transform: uppercase;
}

.slider {
  background: #f2f2f1;
}
.slider__content {
  padding: 25px 0;
  text-align: center;
}
@media (min-width: 768px) {
  .slider__content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .slider__content {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.slider__content-text {
  font-size: 18px;
  font-style: italic;
  line-height: 25px;
  color: #919191;
}
@media (min-width: 576px) {
  .slider__content-text {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .slider__content-text {
    font-size: 22px;
    line-height: 28px;
  }
}
@media (min-width: 1200px) {
  .slider__content-text {
    font-size: 24px;
    line-height: 30px;
  }
}
.slider__content-title {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #566366;
  margin: 30px 0;
}
@media (min-width: 576px) {
  .slider__content-title {
    font-size: 17px;
  }
}
@media (min-width: 768px) {
  .slider__content-title {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
@media (min-width: 992px) {
  .slider__content-title {
    font-size: 18px;
    margin-top: 50px;
  }
}
.slider__content .slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
.slider__content .slick-dots button {
  border: 2px solid #2ecc71;
  background: inherit;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 0;
  padding: 3px;
  cursor: pointer;
  outline: none;
}
.slider__content .slick-dots button:hover {
  background: #2ecc71;
}
.slider__content .slick-dots .slick-active button {
  background: #2ecc71;
}
.slider__content .slick-slide {
  outline: none;
}

.portfolio {
  text-align: center;
  padding: 25px 0;
}
@media (min-width: 768px) {
  .portfolio {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
@media (min-width: 1200px) {
  .portfolio {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (min-width: 576px) {
  .portfolio__title {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .portfolio__title {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  .portfolio__title {
    font-size: 30px;
  }
}
@media (min-width: 576px) {
  .portfolio__description {
    font-size: 17px;
  }
}
@media (min-width: 768px) {
  .portfolio__description {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (min-width: 992px) {
  .portfolio__description {
    line-height: 30px;
    margin-top: 50px;
  }
}
.portfolio__projects {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .portfolio__projects {
    margin-top: 75px;
  }
}
@media (min-width: 992px) {
  .portfolio__projects {
    margin-top: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  .portfolio__projects {
    justify-content: space-between;
  }
}
.portfolio__project {
  width: 100%;
  height: 100%;
  background: url("../images/portfolio-1.png") no-repeat;
  background-size: cover;
}
.portfolio__projectWrapper {
  width: 270px;
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .portfolio__projectWrapper {
    width: 370px;
    height: 300px;
    margin-bottom: 40px;
  }
}
.portfolio__projectOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(63, 182, 116, 0.5);
  opacity: 0;
  visibility: visible;
  transition: 0.3s;
}
.portfolio__projectOverlay:hover {
  opacity: 1;
}
.portfolio__project.project-2 {
  background: url("../images/portfolio-2.png");
}
.portfolio__project.project-3 {
  background: url("../images/portfolio-3.png");
}
.portfolio__project.project-4 {
  background: url("../images/portfolio-4.png");
}
.portfolio__project.project-5 {
  background: url("../images/portfolio-5.png");
}
.portfolio__project.project-6 {
  background: url("../images/portfolio-6.png");
}
.portfolio__project.project-7 {
  background: url("../images/portfolio-7.png");
}
.portfolio__project.project-8 {
  background: url("../images/portfolio-8.png");
}
.portfolio__project.project-9 {
  background: url("../images/portfolio-9.png");
}
.portfolio__projectIcon {
  color: #fff;
  font-size: 50px;
  line-height: 300px;
}
@media (min-width: 768px) {
  .portfolio__projectIcon {
    font-size: 60px;
  }
}

.footer {
  background: #191f21;
  text-align: center;
  padding: 50px 0;
}
.footer__text {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  color: #4b5456;
  margin-bottom: 30px;
}
.footer__socials {
  padding: 1px;
}
.footer__socialsLink {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: #4b5456;
  color: #191f21;
  border-radius: 50%;
  line-height: 35px;
  transition: 0.3s;
  margin: 0 5px;
}
.footer__socialsLink:hover {
  color: #fff;
}

.data {
  background: #252e30;
  padding: 50px 0;
}
@media (min-width: 768px) {
  .data {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
@media (min-width: 1200px) {
  .data {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.data .title {
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
}
@media (min-width: 768px) {
  .data .title {
    font-size: 28px;
  }
}
@media (min-width: 1200px) {
  .data .title {
    font-size: 30px;
  }
}
.dataWrapper {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
@media (min-width: 768px) {
  .dataWrapper {
    font-size: 17px;
  }
}
@media (min-width: 992px) {
  .dataWrapper {
    font-size: 18px;
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .dataWrapper .content__left {
    padding-right: 50px;
  }
}
@media (min-width: 1200px) {
  .dataWrapper .content__left {
    padding-right: 100px;
  }
}
.dataWrapper .content__left-description {
  color: #919191;
  line-height: 25px;
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  .dataWrapper .content__left-description {
    margin-top: 58px;
  }
}
@media (min-width: 1200px) {
  .dataWrapper .content__left-description {
    margin: 50px 0;
    line-height: 30px;
  }
}
.dataWrapper .content__left-address {
  color: #919191;
}
.dataWrapper .content__left-contacts {
  color: #fff;
  margin: 10px 0;
}
.dataWrapper .content__left-contacts span {
  color: #919191;
  margin-left: 25px;
}
.dataWrapper .content__left-contacts .mail {
  margin-left: 33px;
}
.dataWrapper .content__left-contactsWrapper {
  margin-top: 50px;
}
.dataWrapper .content__right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 25px;
}
@media (min-width: 992px) {
  .dataWrapper .content__right {
    margin-top: 0;
  }
}
.dataWrapper .content__right input[type=text], .dataWrapper .content__right textarea {
  background: #4b5456;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px;
  margin-top: 10px;
}
@media (min-width: 576px) {
  .dataWrapper .content__right input[type=text], .dataWrapper .content__right textarea {
    max-width: 350px;
  }
}
@media (min-width: 768px) {
  .dataWrapper .content__right input[type=text], .dataWrapper .content__right textarea {
    max-width: 400px;
  }
}
@media (min-width: 1200px) {
  .dataWrapper .content__right input[type=text], .dataWrapper .content__right textarea {
    width: 540px;
  }
}
.dataWrapper .content__right label {
  color: #fff;
  margin-top: 30px;
}
.dataWrapper .content__right label::after {
  content: "*";
  color: #919191;
  padding-left: 5px;
}
.dataWrapper .content__right input[type=submit] {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #191f21;
  border: none;
  transition: 0.5s;
  margin-top: 50px;
  width: 187px;
  height: 60px;
  outline: none;
  cursor: pointer;
}
.dataWrapper .content__right input[type=submit]:hover {
  background: #4b5456;
  text-shadow: 0px 0px 10px #000;
}