.header {
	position: sticky;
	background: #252e30;
	text-transform: uppercase;
	font-weight: bold;
	color: $c-text-white;
	letter-spacing: 1px;
	text-align: left;

	&Wrapper {
		height: 66px;
		display: flex;
		justify-content: space-between;
		align-items: center; 
	}

	&__icon {
		font-size: 21px;
		display: inline-block;

		@media (min-width: 576px) {
			font-size: 25px;
		}

		@media (min-width: 768px) {
			font-size: 28px;
		}

		@media (min-width: 992px) {
			font-size: 30px;
		}

			&-square {
				padding: 4px 13px;
		    	background: #4b5456;
		   		margin-right: 5px;
		   		display: inline-block;

		   		@media (min-width: 576px) {
					margin-right: 8px;
				}

				@media (min-width: 992px) {
					margin-right: 10px;
				}
			}

			& div {
				display: inline-block;
			}
	}


	& span {
		color: $c-text-header;
	}

	&__navigation {
    	display: none;

		@media (min-width: 992px) {
			display: inline-block;
			padding: 23px 0;
			font-size: 16px;
    		line-height: 1.15;
		}

    		&-item {
    			margin-left: 25px;
				transition: .5s;


				@media (min-width: 1200px) {
					margin-left: 37px;
				}
    		}

    		&-item:hover {
    			color: $c-text-header;
    		}
	}

	&__menu {
		position: relative;
		padding: 15px 0;

		&:hover .header__menu-nav {
			opacity: 1;
			visibility: visible;
		}

		@media (min-width: 992px) {
			display: none;
		}

			&-burger {
			    width: 50px;
				font-size: 20px;
			    text-align: right;
			    cursor: pointer;

				@media (min-width: 576px) {
					font-size: 25px;
				}

				@media (min-width: 768px) {
					font-size: 30px;
				}
			}

			&-nav {
			    background: #252e30;
			    display: flex;
			    flex-direction: column;
			    position: absolute;
			    right: 0;
			    top: 59px;
			    transition: .5s;
			    opacity: 0;
			    visibility: hidden;

			    @media (min-width: 576px) {
					top: 62px;
				}

				@media (min-width: 768px) {
					top: 65px;
				}
			}

			&-item {
			    	padding: 0 20px 13px;

			    	&:hover {
    					color: $c-text-header;
    				}
			}
	}

	.active {
		color: $c-text-header;
	}
}
