.header {
	position: sticky;
	background: #252e30;
	text-transform: uppercase;
	font-weight: bold;
	color: $c-text-white;
	padding: 15px 0;
	letter-spacing: 1px;
	text-align: center;

	&__icon {
		font-size: 21px;
		display: inline-block;

		@media (min-width: 576px) {
			font-size: 25px;
		}

		@media (min-width: 768px) {
			font-size: 28px;
		}

		@media (min-width: 992px) {
			font-size: 30px;
			margin-right: 47px;
		}

		@media (min-width: 1200px) {
			margin-right: 167px;
		}


			&-square {
				padding: 4px 13px;
		    	background: #4b5456;
		   		margin-right: 5px;
		   		display: inline-block;

		   		@media (min-width: 576px) {
					margin-right: 8px;
				}

				@media (min-width: 992px) {
					margin-right: 10px;
				}
			}

			& div {
				display: inline-block;
			}
	}


	& span {
		color: $c-text-header;
	}

	&__navigation {
		overflow: hidden;
		padding-bottom: 2px;
		font-size: 15px;
    	line-height: 1.35;
    	padding-top: 10px;
    	display: inline-block;

    	@media (min-width: 576px) {
			font-size: 16px;
		}

		@media (min-width: 992px) {
			line-height: 1.15;
			padding-top: 0;
		}

    		&-link {
    			margin-left: 20px;
				transition: .5s;

				@media (min-width: 576px) {
					margin-left: 38px;
				}

				@media (min-width: 768px) {
					margin-left: 20px;
				}

				@media (min-width: 992px) {
					margin-left: 25px;
				}

				@media (min-width: 1200px) {
					margin-left: 40px;
				}
    		}

    		&-link:hover {
    			color: $c-text-header;
    		}
	}

	.active {
		color: $c-text-header;
	}
}
