* {
	box-sizing: border-box;
	font-family: Roboto;
}

a {
	text-decoration: none;
	color: #fff;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

		@media (min-width: 360px) {
			max-width: 360px;
		}

		@media (min-width: 576px) {
			max-width: 540px;
		}

		@media (min-width: 768px) {
			max-width: 720px;
		}

		@media (min-width: 992px) {
			max-width: 960px;
		}

		@media (min-width: 1200px) {
			max-width: 1170px;
		}
}

@import "_variables";
@import "top";
@import "header";
@import "areas";
@import "about";
@import "skills";
@import "resume";
@import "education";
@import "slider";
@import "portfolio";
@import "footer";
@import "form";


