$c-text: #fff;

.top {
	background: url(../images/top.png) center no-repeat;
    background-size: cover;
    min-height: 500px;
    padding-top: 1px;

	&__heading {
		color: white;
	    text-transform: uppercase;
	    font-size: 26px;
	    text-align: center;
	    margin: 253px 0px 65px;
	    border-top: 2px solid $c-text;
	    border-bottom: 2px solid $c-text;
	}

	&__btnWrapper {
		text-align: center;
	}

	&__btn {
		font-size: 15px;
	    font-weight: bold;
	    color: white;
	    text-transform: uppercase;
	    border: 2px solid #fff;
	    padding: 15px 20px;
	    transition: 0.5s;
	}

	&__btn {
		&:hover {
			background: rgba(0, 0, 0, 0.5);
		}
	}

	&__block {
		position: relative;
		height: 85px;
	}

	.circle {
		width: 7px;
	    height: 7px;
	    border-radius: 5px;
	    position: absolute;
	    right: 0;
	    bottom: 0;
	    border: 2px solid $c-text;
	}

	.circle:first-child {
		bottom: 20px;
		background: $c-text;
	}

	.circle:last-child {
		bottom: 10px;
	}
}

/**/
@media (min-width: 360px) {
	.container {
		max-width: 360px;
	}
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}

	.top {
		min-height: 670px;
	

		&__heading {
			font-size: 35px;
			margin: 400px 36px 65px;
		}

		&__btn {
			font-size: 16px;
		}

		&__block {
			height: 100px;
		}
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}

	.top {
		min-height: 800px;

		&__heading {
			font-size: 40px;
			margin: 480px 92px 65px;
		}

		&__btn {
			font-size: 17px;
		}

		&__block {
			height: 130px;
		}

		.circle {
			width: 9px;
			height: 9px;
		}

		.circle:first-child {
			bottom: 30px;	
		}

		.circle:last-child {
			bottom: 15px;
		}
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}

	.top {
		min-height: 1000px;
	

		&__heading {
			font-size: 53px;
			margin: 500px 134px 65px;
		}

		&__btn {
			font-size: 18px;
			padding: 20px 35px;
		}

		&__block {
			height: 250px;
		}

		.circle {
			width: 11px;
			height: 11px;
			border-width: 3px;
		}

		.circle:first-child {
			bottom: 40px;	
		}

		.circle:last-child {
			bottom: 20px;
		}
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
	
	.top__heading {
		font-size: 60px;
		margin: 500px 195px 65px;
	}
}